.base {
	margin: 40px auto;
	max-width: 1200px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}
h1, h2, h3 { line-height: 1.2 }

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f0f0f0;
}
.tab button {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px;
}
.tab button:hover { background-color: #ddd; }
.tab button.active { background-color: #ccc; }


.tblCont {
	height: 500px;
	overflow: auto;
	resize: vertical;
}
.tblCont thead th {
	position: sticky;
	top: 0px;
	background: #fff;
}

.tblCont td:empty::before { content: "--"; }
.tblCont tr > td, tr > th { text-align: center; white-space: nowrap; }
.tblCont tr :nth-child(1) { text-align: left; font-family: monospace;  }
.tblConts tr :nth-child(2n+1) { text-align: left; font-family: monospace;  }
.tblCont tbody tr:nth-child(odd) { background-color: #f0f0f0; }
.tblContv tbody tr :nth-child(4n + 2) { background-color: #e0e0e0; }
.tblContvf tbody tr :nth-child(7n + 2) { background-color: #e0e0e0; }
.tblContvf:not(.tblContvf-show) tbody tr :nth-child(7n + 5) { background-color: #e0e0e0; }
.tblContvf:not(.tblContvf-show) tr :nth-child(7n + 2) { display: none; }
.tblContvf:not(.tblContvf-show) tr :nth-child(7n + 3) { display: none; }
.tblContvf:not(.tblContvf-show) tr :nth-child(7n + 4) { display: none; }


.result-toggles { margin-top: 5px; text-align: center; }
.result-btn { margin: 5px; }
.result-btn-hidden { color: silver; }

.center { display: flex; justify-content: center; };
